{% extends 'base.html' %}

{% block meta_tags %}
    {% include '_meta_tags.html' with meta_title=article.get_meta_title meta_description=article.meta_description meta_keyword=article.meta_keywords %}
{% endblock %}

{% block content %}
<h2>{{ article.name }}</h2>
    {% if article.image %}
        <img class="img-thumbnail" src="{{ article.image.url }}" alt="">
    {% endif %}


    <p>{{ article.text }}</p>
     <p>
        {% for tag in article.tags.all %}
            <a href="{% url 'tag_search' tag_id=tag.id %}">#{{ tag.name }}</a>&nbsp;
        {% endfor %}

    </p>

    <p style="text-align: right">
        Дата: <b>{{ article.publish_date }}</b>
        Категория: <b>{{ category.name }}</b>
    </p>
    {% if article.user %}
        <div class="f_l_name">
            {% if article.user.image %}
                <img class="avatar" src="{{ article.user.image_thumbnail.url }}" alt="">

            
            {% endif %} 
            {% if article.user.first_name or article.user.last_name %}
                <span class="f_l_name">Автор - {{ article.user.first_name }} {{ article.user.last_name }}</span>
            {% else %}
                <span class="f_l_name">Автор - {{ article.user.username }}</span>

            {% endif %}
        </div>

    {% endif %}
{% endblock %}


