
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <br>
                <hr>
            </div>
            <div class="col-6">
                <br>
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png' %}" alt="" title="" id="logo">
                </a>
            </div>
            <div class="col-6">
            </div>
            <div class="col">
                <p class="text-center text-info">Все права защищены, правда неизвестно кем)</p>
            </div>
        </div>
    </div>
</footer>