<div>

    <h3 class="my-header">{{ category.name }}</h3>
    <div class="row">
        {% for item in object_list %}
            <div class="col-sm-12 col-md-4">
                <div class="product">
                    <a href="{{ item.get_absolute_url }}">
                        <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg" alt="">
                        <b class="text-danger product-price">100 грн.</b>
                        <p class="product-name">Название товара</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

</div>