{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Категории</h1>
    <div class="row">
        {% for category in object_list %}
            <div class="col-4 blog-item">
                <a href="{{ category.get_absolute_url }}">
                    {% if category.image %}
                        <img class="img-thumbnail" src="{{ category.image.url }}" alt="">
                    {% else %}
                        <img class="img-thumbnail" src="{% static 'img/no-image.png' %}" alt="">
                    {% endif %}
                </a>
                <h4><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></h4>
            </div>
        {% endfor %}
    </div>
{% endblock %}