{% extends "base.html" %}
{% block meta_tags %}
    {% include '_meta_tags.html' with meta_title=product.get_meta_title meta_description=product.meta_description meta_keyword=product.meta_keywords %}
{% endblock %}

{% block content %}
    <div class="product-view">
        <h3 class="my-header">{{ product.name }}</h3>
        <div class="row">

            <div class="col-xs-12 col-md-6">
                <div class="row">
                    {% for image in product.images %}
                        <div class="col-6">
                            <a href="{{ image.image.url }}" class="product-image" data-lightbox="roadtrip">
                                <img src="{{ image.image_thumbnail.url }}" alt="" class="img-thumbnail">
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <p>Наличие:
                    {% if product.quantity > 5 %}
                        <b class="text-success">В наличии</b>
                    {% elif product.quantity < 5 and product.quantity > 0 %}
                        <b class="text-warning">Заканчивается</b>
                    {% else %}
                        <b class="text-danger">Нет в наличии</b>
                    {% endif %}
                </p>

                <b class="text-danger product-price">{{ product.price }} грн.</b>

                <form action="">
                    <div class="input-group mb-3">
                        <input type="number" min="1" step="1" max="100" value="1" class="form-control">
                        <button class="btn btn-success" type="button" id="button-addon1">Купить</button>
                    </div>
                </form>

                {% if product.description %}
                    <br>
                    <h4 class="text-center">Описание</h4>
                    <p>{{ product.description }}</p>
                {% endif %}
            </div>
        </div>

        <script>
            lightbox.option({
                'resizeDuration': 200,
                'wrapAround': true
            })
        </script>
    </div>
{% endblock %}