{% extends "base.html" %}
{% block content %}
    <div class="product-view">
        <h3 class="my-header">{{ product.name }}</h3>
        <div class="row">

            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-6">
                        {% for image in product.images %}
                            <a href="{{ image.image.url }}"  class="product-image" data-lightbox="roadtrip">
                                <img src="{{ MEDIA_URL }}{{ image.image_thumbnail.url }}"  alt="" class="img-thumbnail">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <p>Наличие:
                    {% if object.quantity %}
                       <b class="text-success">В наличии</b></p>
                    {% else %}
                        <b class="text-success">Нету</b></p>
                    {% endif %}

                <b class="text-danger product-price">{{ product.price }}грн</b>
                <form action="">
                    <div class="input-group mb-3">
                        <input type="number" min="1" step="1" max="100" value="1" class="form-control">
                        <button class="btn btn-success" type="button" id="button-addon1">Купить</button>
                    </div>
                </form>
                <br>
                <h4 class="text-center">Описание</h4>
                <p>{{ product.description }}</p>
            </div>

        </div>
        <script>
            lightbox.option({
                'resizeDuration': 200,
                'wrapAround': true
            })
        </script>
    </div>
{% endblock %}